<div class="container-fluid">
  <form #accessoryForm="ngForm" *ngIf="!taskFlag">
    <div class="card">
      <div class="card-header p-2">
        <div class="row">
          <div class="col-sm-5 pt-1">
            <h6>Task</h6>
          </div>
          <div class="col-sm-7">
            <button class="btn btn-primary btn-sm px-2 py-1 mx-1 float-end" (click)="addType()">
              Add Task <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-2 mx-1">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive table-padding">
              <table class="table table-hover table-striped table-sm text-nowrap">
                <thead>
                  <tr>
                    <th>TaskId</th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of TaskList ">
                    <td (click)="selectById(data)" class="text-info">{{data.id}}</td>
                    <td>{{data.title}}</td>
                    <td>{{data.description}}</td>
                    <td (click)="deleteTask(data.id)" class="text-danger">delete</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form #accessoryForm="ngForm" *ngIf="taskFlag">
    <div class="card-header">
      <div class="col-sm-5">
        <h6>Add Task </h6>
      </div>
      <div class="col-sm-7">
        <button class="btn btn-close float-end" (click)="onclose()"></button>
      </div>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
        <label for="">TaskId <span class="text-danger">*</span></label>
        <input class="form-control" type="number" placeholder="Add New TaskId" name="taskId" #taskId="ngModel"
          [(ngModel)]="TaskModel['id']" required>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
        <label for="">Task <span class="text-danger">*</span></label>
        <input class="form-control" placeholder="Add New Task" name="task" #task="ngModel"
          [(ngModel)]="TaskModel['title']" required>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
        <label for="">Description <span class="text-danger">*</span></label>
        <input class="form-control" placeholder="Add New Task" name="desc" #desc="ngModel"
          [(ngModel)]="TaskModel['description']" required>
      </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary btn-sm mx-1 pull-right px-2 py-1" 
      (click)="AddTask()" *ngIf="!updateFlag">Add
      </button>
      <button type="button" class="btn btn-primary btn-sm mx-1 pull-right px-2 py-1"
       (click)="updateTask(TaskModel['id'])" *ngIf="updateFlag"> Update
      </button>
    </div>
  </form>
</div>